<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>
<h1>CarTable</h1>

<table>
    <tr>
        <th>model</th>
        <th>color</th>
        <th>power</th>
    </tr>

    <tr th:each="lst : ${cars}">
        <td th:utext="${lst.modelName}">brand</td>
        <td th:utext="${lst.color}">color</td>
        <td th:utext="${lst.engineVolume}">engineVolume</td>
    </tr>

</table>
<div>
    <th:block th:each="msgCars : ${cars}">
        <h1 th:text="${msgCars}"></h1>
    </th:block>
</div>
</body>
</html>