<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<div th:align="center">

    <br/> Name:
    <p th:text="${person.getFirstName()}">VALUE</p>
    <p th:text="${person.getLastName()}">VALUE</p>
    <p th:text="${person.getEmail()}">VALUE</p>

    <p th:text="${person.getId()}">VALUE</p>

    <a th:href="@{/{id}/edit(id=${person.getId()})}">Edit</a>

    <!-- <form th:method="DELETE" th:action="@{/{id}(id=${person.getId()})}">
         <input type="submit" value="Delete">
 -->
    <a th:href="@{/delete/{id}(id=${person.id})}">Delete</a>

</div>
</body>

</html>


<!--<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div align="center">
    <h2>Edit User</h2>
    <form th:action="@{/{id}(id=${person.id})}" th:object="${person}" method="post">
        <br/> Name:
        <input type="text" th:field="*{firstName}"/>
        <br/> Age:
        <input type="text" th:field="*{lastName}"/>
        <br/> Email:
        <input type="text" th:field="*{email}"/>
        <br/>
        <input type="submit" value="Update User"/>
    </form>
</div>
</body>
</html>-->
